#body {
    -fx-background-image:url("./bg3.jpg") no-repeat center;
    -fx-border-color: black;
    -fx-min-height: 410px;
    -fx-min-width: 670px;
    -fx-max-height: 410px;
    -fx-max-width: 670px;
    -fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.2) , 15, 0.1 , 0 , 0 );
}

#displayView{
    -fx-background-color: #353535;
    -fx-text-fill: lightgray;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 15, 0.4 , 0 , 0 );
}

#buttonsPanel{
    -fx-background-color: rgba(0,0,0,0.1);
}

#measureView{
    -fx-background-color: #353535;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 15, 0.4 , 0 , 0 );
    -fx-text-fill: lightgreen;
}